@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

/* Global Layout Set-up */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Custom Properties */
:root {
    --ff-primary: 'Russo One',
        sans-serif;
    --ff-secondary: 'Public Sans',
        sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: rgb(92, 147, 219);

    --fs-h1: 2.75rem;
    --fs-h2: 2.00rem;
    --fs-h3: 1.15rem;
    --fs-body: 1rem;

    --bs: 0.15em 0.15em 0.50em rgba(0, 0, 0, .25);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.1rem;
    }
}


/* General styles */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light);
    color: var(--clr-text);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.3;
    margin: 0 auto;
    text-align: center;
}

section {
    padding: 2em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {
    font-weight: var(--fw-bold);
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

.section-title {
    margin-bottom: .1em;
}

.section-title--intro {
    font-weight: var(--fw-reg);
}

.section-title--intro strong {
    display: block;
}

.section-subtitle--intro,
.section-title--about,
.section-title--skills,
.section-title--projects {
    color: var(--clr-dark);
    margin-bottom: .1em;
    padding: .25em 1em;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: url(../img/background.mp4);
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}

.logo {
    max-width: 80px;
    color: white;
    margin: 0;
}

.nav {
    position: fixed;
    background: rgba(0, 0, 0, .8);
    color: var(--clr-light);
    top: 0;
    /* bottom: 0; */
    left: 0;
    right: 0;
    z-index: 100;
    padding: 1em;
    /* 
    transform: translateX(100%);
    transition: transform 350ms cubic-bezier(.5, 0, .5, 1); */
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
    margin: 0;
    padding: 0;
    gap: 1rem;
}

.nav-link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-body);
    text-decoration: none;
}

.nav-link:hover {
    color: var(--clr-accent);
}

/* .nav-toggle {
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: fixed;
    right: 1em;
    z-index: 1000;
} */

/* .nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

.hamburger {
    display: block;
    position: relative;
    outline: none;
}

.hamburger:focus {
    outline: none;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 350ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
} */


/* Intro section */
.intro {
    width: 100%;
    height: 100vh;
    min-height: 500px;
    overflow: hidden;
    display: list-item;
    /* justify-content: center;
    align-items: center; */
    /* margin-left: auto;
    margin-right: auto; */
}


.intro video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    pointer-events: none;
}

.section-title--intro {
    font-family: var(--ff-primary);
    padding-top: 3em;
    padding-bottom: .5em;
    -webkit-animation: fadein 5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s;
    /* Firefox < 16 */
    -ms-animation: fadein 5s;
    /* Internet Explorer */
    -o-animation: fadein 5s;
    /* Opera < 12.1 */
    animation: fadein 5s;
}

.section-title--intro,
.section-subtitle--intro,
.social-list--intro,
.social-list--item---intro,
.social-list--link---intro {
    position: relative;
    color: var(--clr-light);
    text-align: center;
    max-width: 800px;
    z-index: 75;
    margin: auto;
    -webkit-animation: fadein 5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 5s;
    /* Firefox < 16 */
    -ms-animation: fadein 5s;
    /* Internet Explorer */
    -o-animation: fadein 5s;
    /* Opera < 12.1 */
    animation: fadein 5s;
}

.section-subtitle--intro {
    font-family: var(--ff-secondary);
}

.social-list--intro {
    list-style: none;
    display: flex;
    justify-content: center;
    padding-top: .5em;
}

.social-list--item---intro {
    margin: .5em;
}

.social-list--item---intro:hover {
    transform: translate(0, -10);
}

.social-list--link---intro {
    padding: .5em;
}

.social-list--link---intro[data-descr]::after {
    content: attr(data-descr);
    position: absolute;
    left: 0;
    top: 34px;
    min-width: 250px;
    border: 1px #aaaaaa solid;
    border-radius: 3px;
    background-color: var(--clr-dark);
    padding: 12px;
    color: var(--clr-light);
    font-size: 14px;
    font-weight: 600;
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 250ms;
    visibility: hidden;
}

.social-list--link---intro[data-descr]:hover::after {
    visibility: visible;
    transition-timing-function: ease-in;
    transition-duration: 250ms;
    transition-delay: 200ms;

}

#icon {
    color: white;
    font-size: 2em;
}

.cursor {
    display: inline-block;
    width: 2px;
    background-color: #ccc;
    margin-left: 0.1rem;

    animation: blink 1s infinite;
}

.cursor.typing {
    animation: none;
}

@keyframes blink {
    0% {
        background: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background: transparent;
    }

    99% {
        background: transparent;
    }

    100% {
        background-color: #ccc;
    }
}


/* About section */
.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about--img {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.about-container {
    background: #10151E;
    color: var(--clr-light);
}

.about {
    max-width: 740px;
    text-align: left;
    align-content: center;
}

.section-title--about {
    text-align: center;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    font-size: 3rem;
    color: var(--clr-light);
}

.section-body--about {
    font-family: var(--ff-secondary);
    font-size: 1.5rem;
    font-weight: normal;
}


/* Skills section */
.skills-container {
    background: #1111;
    width: 100%;
    height: 100%;
}

.skills {
    /* margin: 2em; */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.section-title--skills {
    text-align: center;
    padding-top: 2em;
    font-size: 3rem;
}

.skills--imgs {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;
}

.skill--img {
    transition:
        transform 200ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
}

/* Projects section */

.projects-container {
    /* background: url(../img/Globe_4dark.jpg);
    background-size: cover; */
    padding-top: 2em;
    background: #10151E;
}

.section-title--projects {
    margin-top: 2em;
    margin-bottom: 1em;
    color: var(--clr-light);
    font-size: 3rem;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: .5em;
    padding: 0;
    place-items: center;

}

.portfolio--item {
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    box-shadow: 1px 2px rgba(0, 0, 0, .6);
}

.portfolio--img {
    display: block;
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
    width: auto;
    height: 20rem;
}

.portfolio--img:hover,
.portfolio--item:focus .portfolio--img {
    transform: scale(1.05);
    opacity: .75;
}

.portfolio--description {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .6);
    transition:
        transform 750ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
    opacity: 0;
}

.portfolio--description:hover,
.portfolio--description:focus {
    transform: scale(1.03);
    opacity: 1;
}

.portfolio--description---title {
    color: var(--clr-light);
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    margin-bottom: 1em;
}

.portfolio--description---detail {
    color: var(--clr-light);
    margin-bottom: 2em;
    font-size: var(--fs-body);
    margin: 1em;
    padding: 1em;
}

.btn {
    color: var(--clr-light);
    font-size: 1.5em;
}

.btn:hover {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.btn-pipe {
    color: var(--clr-light);
}


/* Footer */
.contact {
    margin-top: 0;
    padding-top: 0;
}

.contact-title {
    font-size: 3rem;
}

.footer {
    background: #1111;
    color: var(--clr-dark);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.footer a {
    display: inline-flex;
    color: inherit;
    text-decoration: none;
}

.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.social-list--item {
    /* margin: 1.5em; */
}

.social--link {
    padding: .7em;
    transform: scale(1.9);
}

.social--link:hover {
    transition: ease;
    transition-duration: 350ms;
}

.copyright {

    margin-bottom: 0;
    padding-bottom: 0;
}


/* Styles for larger screens */
@media screen and (min-width:720px) {
    header {
        height: 100vh;
        min-height: 800px;
    }

    .nav-list {
        gap: 2rem;
    }

    .nav-link {
        font-size: var(--fs-h3);
    }

    .intro,
    .intro video {
        min-height: 750px;
    }

    .section-title--intro {
        padding-top: 3em;
        padding-bottom: 1rem;
    }

    .section-subtitle--intro {
        font-weight: var(--fw-bold);
        font-size: 2.7rem;
    }

    .flex {
        display: flex;
        max-width: 1300px;
        justify-content: space-around;
        margin: auto;
    }

    .section {
        padding-top: 50px;
    }

    #icon {
        color: white;
        font-size: 2.5em;
    }

    .skills--imgs {
        grid-gap: 7rem;
    }

    .portfolio--img {
        width: 31em;
        height: 27em;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}